.container {
  background-color: rgb(230, 223, 223);
  padding: 24px;
  margin-top: 32px;
  margin: 0 auto;
  width: 500px;
  height: auto;
  border-radius: 10px;
  border: 3px solid #40404d;
}

.container_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.user_name {
  font-size: 32px;
  font-weight: 700;
}

.info_user {
  color: #434343;
  font-size: 24px;
}

.items {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #434343;
  padding: 18px;
  border-radius: 6px;
  background-color: rgb(255, 228, 196);
}

.span_profile {
  font-size: 20px;
  font-weight: 600;
}

.span_info {
  font-size: 24px;
  font-weight: 700;
}
