.container {
  padding: 15px;
  width: 350px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #434367;
}

.info_user {
  font-size: 32px;
  font-weight: 700;
}

.items {
  padding: 15px;
  border: 1px solid #434343;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
