.container {
  display: flex;
  flex-direction: column;
}

.items {
  padding: 15px;
  border: 1px solid #434343;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
