.table_history {
  width: 100%;
  background-color: rgb(230, 223, 223);
  margin: 0 auto;
  margin-bottom: 32px;
}

.thead_history th {
  background-color: rgb(37, 35, 35);
  border: 1px solid #000000;
  color: aliceblue;
  padding: 10px;
  font-size: 18px;
}

.tbody_history td {
  color: black;
  font-size: 18px;
  padding: 10px;
  background-color: aliceblue;
  font-weight: 500;
}
